/* css reset */
@import 'reset';

/* box sizing */
*, *:before, *:after {
  box-sizing: border-box;
}

/* carousel */
.carousel {
  display: block;
  margin: auto;
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  img {
    margin: auto;
  }
  .left { 
    position: absolute;
    right: 1000px;
  }
  .center { position: absolute; }
  .right {
    position: absolute;
    left: 1000px;
  }
}